.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;  
}
 body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .id-card {
            width: 300px;              
            height: 420px;             
            background-color: #ffffff;

            margin: 90px auto;        
            padding: 20px;            

            border: 5px solid #000;    
            border-radius: 20px;       

            box-sizing: content-box;   
            text-align: center;
        }

       
        .college-name {
            font-size: 18px;
            font-weight: bold;
            text-align: center;   
            margin-bottom: 10px;
        }

        
        .logo {
            width: 300px;
            height: 100px;
            margin: 0 auto 10px;   
            border: 1px solid #ccc;
        }

        .logo img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }


        .photo {
            width: 120px;
            height: 140px;
            margin: 15px auto;
            border: 1px solid #000;
        }

      
        .details {
            margin-top: 15px;
            text-align: left;
            font-size: 14px;
        }

        .details p {
            margin: 5px 0;
        }