@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Playfair+Display:wght@500;600&display=swap');

body {
    background: linear-gradient(135deg, #f2efe9, #e6e0d4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.id-card {
    width: 340px;
    height: 520px;
    background: linear-gradient(to bottom, #ffffff, #f8f6f1);
    border-radius: 24px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
}

.top-strip {
    height: 90px;
    background: #c9b79c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-strip img {
    height: 60px;
    object-fit: contain;
}

/* Logo */
.logo {
    text-align: center;
    margin-top: 20px;
    height: 200px;
    width: 200px;

    z-index: 2;
}

.logo img {
    width: 100px;
}

/* College Name */
.college-name {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    padding: 0 20px;
    color: #1f2f46;
}

/* Photo Box */
.photo {
    width: 140px;
    height: 170px;
    background: #ddd;
    margin: 25px auto 15px;
    border-radius: 16px;
    border: 3px solid rgba(201, 183, 156, 0.7);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
}

/* Details Section */
.details {
    padding: 0 30px;
    font-size: 14px;
    color: #333;
}

.details p {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}

.details strong {
    color: #1f2f46;
    font-weight: 500;
}