/* ===== Animated Background ===== */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url("Profilebg.jpg") center;
    background-size: cover;
}

/* Moving Gradient */
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Glass Card */
.container {
    width: 70%;
    max-width: 800px;
    margin: 80px auto;
    padding: 45px;
    border-radius: 25px;

    background: rgba(31, 47, 70, 0.55); /* deep navy glass */
    backdrop-filter: blur(18px);

    box-shadow: 0 20px 50px rgba(0,0,0,0.25);
    color: #f4f1ea;

    animation: fadeIn 1.2s ease-in-out;
}

/* Fade In */
@keyframes fadeIn {
    from { opacity:0; transform:translateY(20px); }
    to { opacity:1; transform:translateY(0); }
}

/* Profile Image */
.profile-img {
    width: 180px;
    height: 220px;
    object-fit: cover;

    display: block;
    margin: 30px auto;

    border-radius: 20px;
    border: 3px solid rgba(201, 183, 156, 0.5);

    backdrop-filter: blur(4px);
    box-shadow: 0 20px 60px rgba(31, 47, 70, 0.2);

    transition: transform 0.4s ease;
}

.profile-img:hover {
    transform: scale(1.03);
}
/* Sections */
.section {
    margin-bottom: 25px;
    transition: 0.3s;
}

.section:hover {
    box-shadow: 0 0 25px rgba(201, 183, 156, 0.5);
    background: rgba(255,255,255,0.05);
    padding: 12px;
    border-radius: 15px;
}

/* Skill Bars */
.skill-bar {
    background: rgba(255,255,255,0.15);
    border-radius: 20px;
}

.skill-fill {
    height: 12px;
    background: linear-gradient(to right, #c9b79c, #9fb8ad);
    border-radius: 20px;
}

/* Different skill levels */
.html {
    width: 90%;
    animation: grow 2s ease;
}

.js {
    width: 70%;
    animation: grow 2.5s ease;
}

.problem {
    width: 80%;
    animation: grow 2.2s ease;
}

@keyframes grow {
    from { width: 0; }
}
/* ===== Animated Border Glow Card ===== */

.glow-card {
    position: relative;
    width: 75%;
    max-width: 850px;
    margin: 100px auto;
    border-radius: 35px;
    padding: 2px;

    background: linear-gradient(
        120deg,
        rgba(201, 183, 156, 0.25),
        rgba(201, 183, 156, 0.25),
       rgba(201, 183, 156, 0.25)
    );

    background-size: 200% 200%;
    animation: softGlow 18s ease infinite;

    backdrop-filter: blur(12px);
    
    box-shadow: 0 20px 60px rgba(31, 47, 70, 0.15);
}

@keyframes softGlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Animated Gradient Movement*/
@keyframes borderGlow {
    0% { background-position: 0% 50%; }
    100% { background-position: 400% 50%; }
}

/* Make inner container fit perfectly */
.glow-card .container {
    margin: 0;
    border-radius: 22px;
}

